In [1]:
import pandas

In [2]:
pandas.__version__

'1.2.4'

In [3]:
import numpy as np

In [4]:
mylist = [1,2,3,7]

In [5]:
type(mylist)

list

In [6]:
np.array(mylist)

array([1, 2, 3, 7])

In [7]:
mylist

[1, 2, 3, 7]

In [8]:
myarr = np.array(mylist)

In [9]:
type(myarr)

numpy.ndarray

In [10]:
len(myarr)

4

In [11]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [12]:
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
np.arange(0,17,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16])

In [15]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [16]:
np.zeros((4,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [17]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [18]:
np.linspace(0,10,10)

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [19]:
np.eye(5) #identity matrix

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [20]:
np.random.rand(3,4)

array([[0.2750666 , 0.52595713, 0.49384574, 0.37702205],
       [0.8479388 , 0.22711186, 0.23664097, 0.99023079],
       [0.58085311, 0.77312308, 0.36079809, 0.63230634]])

In [21]:
np.random.randn(4)

array([ 1.40468376,  0.20942005,  0.75317443, -0.86507218])

In [22]:
np.random.randint(52,5489484,(4,5))

array([[3779202, 4014745, 2230224,  933948, 4741179],
       [3067255, 1760127,  426936,  561966, 1254482],
       [ 366521, 4617886, 2731657, 1070321, 4894191],
       [3143947, 4908869, 1936511, 1664897, 4203080]])

In [23]:
np.random.seed(42)
np.random.rand(4)

array([0.37454012, 0.95071431, 0.73199394, 0.59865848])

In [24]:
arr = np.arange(0,25)

In [25]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [26]:
randarr = np.random.randint(0,101,8)

In [27]:
randarr = randarr.reshape (2,4)

randarr

In [28]:
randarr.max()

99

In [29]:
randarr.argmax()

5

In [30]:
randarr.argmin()

7

In [31]:
randarr.dtype

dtype('int32')

In [32]:
randarr.shape

(2, 4)

In [33]:
#import psycopg2

In [34]:
arr = np.arange(0,11)

In [35]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [36]:
arr[8]

8

In [37]:
arr[1:15]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [38]:
arr[3:]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [39]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [40]:
arr[0:5] =100

In [41]:
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [42]:
arr = np.arange(0,11)

In [43]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [44]:
slice_of_arr = arr[:5]

In [45]:
slice_of_arr

array([0, 1, 2, 3, 4])

In [46]:
slice_of_arr[:] = 99

In [47]:
slice_of_arr

array([99, 99, 99, 99, 99])

In [48]:
arr

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [49]:
arr_copy = arr.copy()

In [50]:
arr_copy[:] = 873

In [51]:
arr_copy

array([873, 873, 873, 873, 873, 873, 873, 873, 873, 873, 873])

In [52]:
arr_2d = np.array([[5,10,15],[20,25,30],[35,40,45]])

In [53]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [54]:
arr_2d.shape

(3, 3)

In [55]:
arr_2d[0]

array([ 5, 10, 15])

In [56]:
arr_2d[2]

array([35, 40, 45])

In [57]:
arr_2d[2][0]

35

In [58]:
arr_2d[1,1]

25

In [59]:
arr_2d[0,2]

15

In [60]:
arr_2d[:2]

array([[ 5, 10, 15],
       [20, 25, 30]])

In [61]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [62]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [63]:
arr = np.arange(1,11)

In [64]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [65]:
arr>4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [66]:
bool_arr = arr>4

In [67]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [68]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

In [69]:
import numpy as np

In [70]:
dice_rolls = np.array([3, 1, 5, 2, 5, 1, 1, 5, 1, 4, 2, 1, 4, 5, 3, 4, 5, 2, 4, 2, 6, 6, 3, 6, 2, 3, 5, 6, 5])

# total_rolls_over_two = # This should be a single integer
counter =  0
total_rolls_over_two = 0
for x in range(0,len(dice_rolls)):
    
    if dice_rolls[x] > 2:
        
        total_rolls_over_two +=1
    else:
        pass
    counter +=1

print(adder)

NameError: name 'adder' is not defined

In [ ]:
len(dice_rolls[dice_rolls>2])

In [ ]:
for x in range(0,10):
    print (x)

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [3]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [4]:
myindex = ['CA','NY','AZ','TX']

In [5]:
mycolumns = ['Jan','Feb','Mar']

In [6]:
df= pd.DataFrame(data=mydata,index=myindex,columns =mycolumns)

In [7]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [9]:
#where is my python code located

In [10]:
pwd

'C:\\Users\\User\\Desktop\\EDUCATION\\Python Learning\\Python Data Science and Machine Learning\\Setup and Environments\\03-Pandas'

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE03-C73A

 Directory of C:\Users\User\Desktop\EDUCATION\Python Learning\Python Data Science and Machine Learning\Setup and Environments\03-Pandas

11/06/2021  11:09 AM    <DIR>          .
11/06/2021  11:09 AM    <DIR>          ..
28/09/2020  03:52 AM    <DIR>          .ipynb_checkpoints
13/07/2020  02:07 AM    <DIR>          __pycache__
11/06/2021  12:55 AM           565,514 00-Series.ipynb
09/09/2020  12:59 AM           208,957 01-DataFrames.ipynb
09/09/2020  12:59 AM           194,591 02-Conditional-Filtering.ipynb
13/08/2020  07:49 AM           196,385 03-Useful-Methods.ipynb
02/07/2020  05:32 AM            64,227 04-Missing-Data.ipynb
05/07/2020  03:28 AM           219,627 05-Groupby-Operations-and-MultiIndex.ipynb
05/07/2020  05:19 AM            62,966 06-Combining-DataFrames.ipynb
26/09/2020  01:04 AM            32,972 07-Text-Methods.ipynb
09/09/2020  12:59 AM            93,392 08-Time-Methods.ipynb
26/09/2020  06:48 AM            65,234 09-Inputs-and-Outputs.ipynb
26/09/2020  06:46 AM           101,081 10-Pivot-Tables.ipynb
28/09/2020  03:34 AM            47,135 11-Pandas-Project-Exercise .ipynb
28/09/2020  03:34 AM            52,576 12-Pandas-Project-Exercise-Solution.ipynb
11/06/2021  11:09 AM            41,079 Data Science and Machine Learning Workbook.ipynb
05/07/2020  07:39 AM                51 example.csv
27/09/2020  02:14 AM             5,022 example.xlsx
13/07/2020  02:41 AM        25,112,317 hotel_booking_data.csv
08/02/2020  02:26 AM               177 movie_scores.csv
02/07/2020  05:56 AM            17,727 mpg.csv
05/07/2020  07:58 AM             5,022 my_excel_file.xlsx
05/07/2020  08:10 AM                51 new_file.csv
27/09/2020  02:05 AM             5,021 new_workbook.xlsx
26/09/2020  07:16 AM                51 newfile.csv
12/07/2020  02:14 AM            52,132 reshaping_pivot.png
03/07/2020  07:56 AM             5,459 RetailSales_BeerWineLiquor.csv
07/07/2020  07:10 AM             1,320 Sales_Funnel_CRM.csv
27/09/2020  12:40 AM             1,330 sample_table.html
05/07/2020  08:10 AM               555 simple.html
28/01/2020  04:28 AM            18,752 tips.csv
              29 File(s)     27,170,723 bytes
               4 Dir(s)   1,430,097,920 bytes free

In [15]:
df = pd.read_csv('tips.csv')

In [13]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672