In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DATA/Advertising.csv')

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [7]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [4]:
X = df.drop('sales',axis=1)
y = df['sales']

In [13]:
# TRAIN | VALIDATION | HOLD OUT TEST

#1st split # 70%   | 15%  | 15%
#2nd split   50%   | 50%

In [14]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.3, random_state=101)

In [19]:
X_validation, X_holdout_test, y_validation, y_holdout_test = train_test_split(
...     X_test, y_test, test_size=0.5, random_state=101)

In [20]:
len(X)

200

In [21]:
len(X_train)

140

In [22]:
len(X_validation)

30

In [23]:
len(X_test)

60

In [24]:
len(X_holdout_test)

30

#Using random forest

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
model = RandomForestRegressor(n_estimators=30,random_state=101)

In [44]:
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=30, random_state=101)

In [45]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [46]:
validation_predictions = model.predict(X_validation)

In [47]:
validation_predictions

array([14.40333333,  5.47333333,  4.14      , 15.72666667, 11.66666667,
        9.93      , 10.83333333, 11.48      , 18.02      ,  7.60333333,
       10.9       , 21.44333333, 14.08333333,  7.53333333, 11.81333333,
        6.83      , 13.51      , 13.62      , 11.01333333,  7.99666667,
       12.53333333, 21.63      , 19.49      , 15.73      , 16.05666667,
       24.21666667, 20.17666667,  9.50666667, 14.50333333, 19.36333333])

In [48]:
#compare to mean value in dataset
mean_absolute_error(y_validation,validation_predictions)

0.6575555555555552

In [49]:
#compare to std value in dataset
np.sqrt(mean_squared_error(y_validation,validation_predictions))

0.8542009478215644

In [42]:
df.describe()['sales'] #MAE 0.85  #RMSE 1.1 -- > #MAE 0.65  #RMSE 0.85

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: sales, dtype: float64

## FINAL PERFORMANCE METRICS (HOLDOUT SET)

In [51]:
holdout_predictions = model.predict(X_holdout_test)

In [52]:
#compare to mean value in dataset
mean_absolute_error(y_holdout_test,holdout_predictions)

0.5937777777777775

In [54]:
#compare to mean value in dataset
(mean_squared_error(y_holdout_test,holdout_predictions))**0.5

0.745323693040418

In [55]:
#after final perf metrics, you cant go back to tune hyperparameters again
#this is the perf to report as this is how we expect data to perform 
#on unseen data

In [56]:
final_model = RandomForestRegressor(n_estimators=30,random_state=101)

In [57]:
final_model.fit(X,y)

RandomForestRegressor(n_estimators=30, random_state=101)

In [58]:
import joblib

In [59]:
joblib.dump(final_model,'final_model.pkl')

['final_model.pkl']

In [60]:
#Good idea to save the column names as a list

In [61]:
X.columns

Index(['TV', 'radio', 'newspaper'], dtype='object')

In [62]:
list(X.columns)

['TV', 'radio', 'newspaper']

In [63]:
joblib.dump(list(X.columns),'col_names.pkl')

['col_names.pkl']

LOADING MODEL

In [64]:
new_columns = joblib.load('col_names.pkl')

In [65]:
new_columns

['TV', 'radio', 'newspaper']

In [66]:
loaded_model = joblib.load('final_model.pkl')

In [67]:
loaded_model

RandomForestRegressor(n_estimators=30, random_state=101)

In [68]:
loaded_model.predict([[230.1,37.8,69.2]]) #expects a 2d array so should be double brackets

array([21.99])

In [72]:
df.head(2)

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4

In [5]:
from sklearn.decomposition import

SyntaxError: invalid syntax (<ipython-input-5-a74bc96b9186>, line 1)

In [15]:
import psycopg2 as pg2

In [42]:
secret = #####(password here)

SyntaxError: invalid syntax (<ipython-input-42-869a166f5b46>, line 1)

In [19]:
conn = pg2.connect(database='dvdrental',user='postgres',password=secret)

In [20]:
cur = conn.cursor()

In [21]:
cur.execute('SELECT * FROM payment')

In [26]:
cur.fetchmany(4)

[(17522,
  345,
  2,
  1210,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 1, 26, 17, 996577)),
 (17523,
  345,
  1,
  1457,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 15, 18, 34, 15, 996577)),
 (17524,
  345,
  2,
  1550,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 16, 0, 27, 1, 996577)),
 (17525,
  345,
  2,
  2766,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 16, 13, 41, 996577))]

In [40]:
pd.DataFrame(cur.fetchmany(40))[5]

0    2007-02-18 04:26:13.996577
1    2007-02-18 04:33:28.996577
2    2007-02-18 21:48:19.996577
3    2007-02-19 09:19:18.996577
4    2007-02-19 21:37:16.996577
5    2007-02-19 21:38:07.996577
6    2007-02-20 00:08:09.996577
7    2007-02-16 07:43:24.996577
8    2007-02-16 22:22:19.996577
9    2007-02-16 23:45:57.996577
10   2007-02-17 05:47:02.996577
11   2007-02-17 13:23:55.996577
12   2007-02-17 23:24:44.996577
13   2007-02-18 16:58:52.996577
14   2007-02-19 09:45:38.996577
15   2007-02-21 00:18:13.996577
16   2007-02-21 10:48:20.996577
17   2007-02-15 13:46:34.996577
18   2007-02-16 18:51:56.996577
19   2007-02-17 03:22:01.996577
20   2007-02-18 11:27:49.996577
21   2007-02-15 07:10:18.996577
22   2007-02-16 11:46:49.996577
23   2007-02-17 17:41:36.996577
24   2007-02-17 20:54:49.996577
25   2007-02-18 00:04:13.996577
26   2007-02-18 15:02:14.996577
27   2007-02-19 03:22:39.996577
28   2007-02-15 18:05:05.996577
29   2007-02-16 13:50:13.996577
30   2007-02-17 11:41:53.996577
31   2007-02-17 22:34:42.996577
32   2007-02-19 09:58:42.996577
33   2007-02-19 15:50:57.996577
34   2007-02-19 18:21:56.996577
35   2007-02-20 16:27:31.996577
36   2007-02-20 21:26:10.996577
37   2007-02-19 07:10:38.996577
38   2007-02-21 07:11:03.996577
39   2007-02-17 01:19:17.996577
Name: 5, dtype: datetime64[ns]

In [41]:
conn.close()