In [1]:
import pandas

In [2]:
pandas.__version__

'1.2.4'

In [3]:
import numpy as np

In [4]:
mylist = [1,2,3,7]

In [5]:
type(mylist)

list

In [6]:
np.array(mylist)

array([1, 2, 3, 7])

In [7]:
mylist

[1, 2, 3, 7]

In [8]:
myarr = np.array(mylist)

In [9]:
type(myarr)

numpy.ndarray

In [10]:
len(myarr)

4

In [11]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [12]:
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
np.arange(0,17,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16])

In [15]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [16]:
np.zeros((4,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [17]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [18]:
np.linspace(0,10,10)

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [19]:
np.eye(5) #identity matrix

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [20]:
np.random.rand(3,4)

array([[0.2750666 , 0.52595713, 0.49384574, 0.37702205],
       [0.8479388 , 0.22711186, 0.23664097, 0.99023079],
       [0.58085311, 0.77312308, 0.36079809, 0.63230634]])

In [21]:
np.random.randn(4)

array([ 1.40468376,  0.20942005,  0.75317443, -0.86507218])

In [22]:
np.random.randint(52,5489484,(4,5))

array([[3779202, 4014745, 2230224,  933948, 4741179],
       [3067255, 1760127,  426936,  561966, 1254482],
       [ 366521, 4617886, 2731657, 1070321, 4894191],
       [3143947, 4908869, 1936511, 1664897, 4203080]])

In [23]:
np.random.seed(42)
np.random.rand(4)

array([0.37454012, 0.95071431, 0.73199394, 0.59865848])

In [24]:
arr = np.arange(0,25)

In [25]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [26]:
randarr = np.random.randint(0,101,8)

In [27]:
randarr = randarr.reshape (2,4)

randarr

In [28]:
randarr.max()

99

In [29]:
randarr.argmax()

5

In [30]:
randarr.argmin()

7

In [31]:
randarr.dtype

dtype('int32')

In [32]:
randarr.shape

(2, 4)

In [33]:
#import psycopg2

In [34]:
arr = np.arange(0,11)

In [35]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [36]:
arr[8]

8

In [37]:
arr[1:15]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [38]:
arr[3:]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [39]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [40]:
arr[0:5] =100

In [41]:
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [42]:
arr = np.arange(0,11)

In [43]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [44]:
slice_of_arr = arr[:5]

In [45]:
slice_of_arr

array([0, 1, 2, 3, 4])

In [46]:
slice_of_arr[:] = 99

In [47]:
slice_of_arr

array([99, 99, 99, 99, 99])

In [48]:
arr

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [49]:
arr_copy = arr.copy()

In [50]:
arr_copy[:] = 873

In [51]:
arr_copy

array([873, 873, 873, 873, 873, 873, 873, 873, 873, 873, 873])

In [52]:
arr_2d = np.array([[5,10,15],[20,25,30],[35,40,45]])

In [53]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [54]:
arr_2d.shape

(3, 3)

In [55]:
arr_2d[0]

array([ 5, 10, 15])

In [56]:
arr_2d[2]

array([35, 40, 45])

In [57]:
arr_2d[2][0]

35

In [58]:
arr_2d[1,1]

25

In [59]:
arr_2d[0,2]

15

In [60]:
arr_2d[:2]

array([[ 5, 10, 15],
       [20, 25, 30]])

In [61]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [62]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [63]:
arr = np.arange(1,11)

In [64]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [65]:
arr>4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [66]:
bool_arr = arr>4

In [67]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [68]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

In [69]:
import numpy as np

In [70]:
dice_rolls = np.array([3, 1, 5, 2, 5, 1, 1, 5, 1, 4, 2, 1, 4, 5, 3, 4, 5, 2, 4, 2, 6, 6, 3, 6, 2, 3, 5, 6, 5])

# total_rolls_over_two = # This should be a single integer
counter =  0
total_rolls_over_two = 0
for x in range(0,len(dice_rolls)):
    
    if dice_rolls[x] > 2:
        
        total_rolls_over_two +=1
    else:
        pass
    counter +=1

print(adder)

NameError: name 'adder' is not defined

In [ ]:
len(dice_rolls[dice_rolls>2])

In [ ]:
for x in range(0,10):
    print (x)

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [3]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [4]:
myindex = ['CA','NY','AZ','TX']

In [5]:
mycolumns = ['Jan','Feb','Mar']

In [12]:
df= pd.DataFrame(data=mydata,index=myindex,columns =mycolumns)

In [13]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [20]:
#where is my python code located

In [21]:
pwd

'C:\\Users\\User\\Desktop\\EDUCATION\\Python Learning\\Python Data Science and Machine Learning'

In [22]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE03-C73A

 Directory of C:\Users\User\Desktop\EDUCATION\Python Learning\Python Data Science and Machine Learning

11/06/2021  10:44 AM    <DIR>          .
11/06/2021  10:44 AM    <DIR>          ..
10/06/2021  10:34 AM    <DIR>          .ipynb_checkpoints
11/06/2021  10:44 AM            27,046 Data Science and Machine Learning Workbook.ipynb
25/05/2021  11:12 AM    <DIR>          Setup and Environments
               1 File(s)         27,046 bytes
               4 Dir(s)   1,430,380,544 bytes free