___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
    return (rad**3)*22*4/3/7
    pass

In [2]:
# Check
vol(2)

33.523809523809526

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [27]:
def rc2(num,low,high):
    if num>=low and num<=high:
        return 1==1
    else:
        return 1!=1

In [28]:
rc2(1.001,3,4)

False

In [44]:
def ran_check(num,low,high):
    newl = list(range (low,high+1))
    counter = 0
    boolch = f'{num} is NOT in the range between {low} and {high}'
    
    for n in newl:
    #while counter <= len(newl)-1:
        if newl[counter] - num != 0:
            counter +=1
            pass
        else:
            boolch = f'{num} is in the range between {low} and {high}'
    return boolch
    
    #while newl[counter] - num != 0 and counter <= len(newl):
   #     counter +=1
    #return f'{num} is in the range between {low} and {high}'
    #if num 
    #pass

In [21]:
# Check
ran_check(15,2,70)

NameError: name 'ran_check' is not defined

In [30]:
rc2(72,2,70)

False

If you only wanted to return a boolean:

In [38]:
def ran_bool(num,low,high):
    newl = list(range (low,high+1))
    counter = 0
    boolch = False
    
    for n in newl:
    #while counter <= len(newl)-1:
        if newl[counter] - num != 0:
            counter +=1
            pass
        else:
            boolch = True
    return boolch

In [41]:
ran_bool(13,1,15)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [52]:
def ul(x):
    uu = len([u for u in list(x) if u.isupper()==True])
    ll = len([l for l in list(x) if l.islower()==True])

    return f'#Upper is {uu}, #Lower is {ll}'

In [53]:
ul('PPjnouhouoAUIHOUDNdjosjnadAJBNIODFJd')

'#Upper is 19, #Lower is 17'

In [46]:
def up_low(s):
    newl = list(s)
    upper_count = 0
    lower_count = 0
    
    for n in newl:
        if n.isupper(): #== True:
            upper_count +=1
        elif n.islower(): #== True:
            lower_count +=1
        else:
            pass
    
    return f'No. of Upper case characters : {upper_count}' " " f'No. of Lower case characters : {lower_count}'
    
    
    
    #pass

In [47]:
s = 'Hello Mr. RogerS, how are you this fine Tuesday?'
up_low(s)

'No. of Upper case characters : 5 No. of Lower case characters : 32'

In [48]:
ul(s)

'#Upper is 5, #Lower is 32'

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [54]:
def ull(x):
    return set(x)

In [56]:
ull([1,1,1,1,2,2,3,3,3,3,4,5,7,7,8,9,9,45])

{1, 2, 3, 4, 5, 7, 8, 9, 45}

In [232]:

def unique_list(lst):
    zunil = []
    counter = 0
    len_unil = len(unil)
    #a = lst.pop(0)
    
    for b in lst:
        if b not in zunil:
            zunil.append(b)
    return zunil
''' 
    unil.append(lst.pop(0))
    for n in lst:
        #while counter < len_unil+1:
        if n != unil[counter]: 
            counter+=1
            unil.append(n)
                #pass
        else:
            pass
            
    return unil
 '''

' \n    unil.append(lst.pop(0))\n    for n in lst:\n        #while counter < len_unil+1:\n        if n != unil[counter]: \n            counter+=1\n            unil.append(n)\n                #pass\n        else:\n            pass\n            \n    return unil\n '

In [235]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5,7,7,8,9,9,45])

[1, 2, 3, 4, 5, 7, 8, 9, 45]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [69]:
from functools import reduce
def mm(*args):
    return reduce((lambda x,y: x*y),args)

In [67]:
mm(1,2,4,5,6,67,6)

96480

In [70]:
def mm2(lst):
    result = 1
    for n in lst:
        result = n*result
    return result

In [72]:
mm2([1,2,4,5,6,67,6])

96480

In [206]:
def multiply(numbers):
    #counter = len(numbers)
    a = 1
    
    
    for n in numbers:
        #if counter !=0:
        a = n*a
            #counter-=1
    
    return a
    #pass

In [209]:
multiply([1,2,3,-4,10])

-240

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [74]:
def palindrome(s):
    return s.replace(" ","")[::-1] == s.replace(" ","")
        
    #pass

In [75]:
palindrome('he     l le h')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [15]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    pass

In [16]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [17]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!